@font-face {
  font-family: 'Fira Mono';
  src: font-url('FiraMono-Bold.eot');
  src: local('Fira Mono'),
       font-url('FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('FiraMono-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
