@font-face {
  font-family: 'Fira Mono';
  src: font-url('FiraMono-Regular.eot');
  src: local('Fira Mono'),
       font-url('FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('FiraMono-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
