@font-face {
  font-family: 'Fira Mono';
  src: url('../../_baseframe/fonts/FiraMono-Regular.eot');
  src: local("Fira Mono"), url('../../_baseframe/fonts/FiraMono-Regular.eot?#iefix') format("embedded-opentype"), url('../../_baseframe/fonts/FiraMono-Regular.woff') format("woff");
  font-style: normal;
  font-weight: 400;
}
